:root {
    --text-grey: #4a4a4a;
    --brand-color: #3cdbc0;
    --text-white: #ffffff;
}

.header {
    box-sizing: border-box;
    display: flex;
    position: fixed;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    margin-top: 10px;
    width: 155px;
}

.nav {
    margin-top: 10px;
    margin-bottom: 13px;
    line-height: 100px;
}

.menu {
    color: var(--text-grey);
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.blog {
    margin-right: 10px;
}

.contacto {
    margin-left: 10px;
}

.main {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--brand-color);
    width: 100vw;
    height: 100vh;
}

.lema {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--text-white);
    font-family: "Rubik", sans-serif;
    font-size: 30px;
    width: 0px;
}

@media all and (min-width: 768px) {
    .header {
        display: flex;
        position: relative;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    .lema {
        font-size: 40px;
    }
    .logo {
        margin-top: 20px;
        margin-bottom: 20px;
        width: 155px;
    }
    .menu {
        margin-right: 30px;
    }
}